<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Disneyland App</title>

      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
      <!-- <link rel="stylesheet" href="../public/styles/styles.css"> -->

      <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

      <!-- APPLICATION SCRIPTS -->
      <script src="/scripts/app.js"></script>
      <script src="/scripts/nod.js"></script>

    </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class=".col-md-12">
          <h2> Add a new ProTip! </h2>
            <form class="form-horizontal" id="newProTipForm" data-id="{{_id}}">
              <label for="ProTipTitle">Title</label>
                <input type="text" class="form-control" name="title" id="ProTipTitle" placeholder="What is your ProTip's title?">
              <label for="ProTipDescription">What is your ProTip?</label>
                <textarea class="form-control" name="tipDescription" id="ProTipDescription" rows="3"></textarea>
              <button type="submit" class="btn btn-primary" id="SubmitProTip">Submit ProTip</button>
            </form>
          <hr>
        </div>
      </div>
  </div>

    <div id='voteWrapper' class="protipList container-fluid">
      <div class="row">
        <script id='voteTile' type="text/x-handlebars-template">
          {{#each proTipVote}}
            <h1>{{tipTitle}}</h1>
            <h1>{{tipDescription}}</h1>
            <h1>{{tipScore}}</h1>
            <div class="btn-group-vote">
              <button type="button" name="upButton" class="btn btn-default up-button" data-id="{{_id}}">up</button>
              <button type="button" name="downButton" class="btn btn-default down-button" data-id="{{_id}}">down</button>
            </div>
            <button type="button" class="btn btn-danger" data-id={{_id}}>Delete ProTip</button>
          {{/each}}
        </script>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    nodInit();
  </script>
</html>
