<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Disneyland App</title>

      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="../public/styles/finalStyle.css">

      <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

      <!-- APPLICATION SCRIPTS -->
      <script src="../public/scripts/app.js"></script>

    </head>
  <body>

    <div class="vote circle">
      <div class="increment up" data-id={{_id}}></div>
      <div class="increment down" data-id={{_id}}></div>

      <div class="count" data-id={{_id}}>1</div>
    </div>

  </body>
  <script type="text/javascript">
    init();
  </script>
</html>
