<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Disneyland ProTips</title>

      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
      <link rel="stylesheet" href="/styles/styles.css">
      <link rel="stylesheet" href="/styles/finalStyles.css">

      <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

      <!-- APPLICATION SCRIPTS -->
      <script src="/scripts/app.js"></script>
      <script src="/scripts/nod.js"></script>

    </head>
  <body>
    <!-- add a new protip form -->
    <h1> ProTip </h1>
    <div class="container-fluid">
      <div class="row">
        <div class=".col-md-6">
          <h2> Add a new <span id="disney">Disney</span> ProTip! </h2>
            <form class="form-horizontal" id="newProTipForm" data-id="{{_id}}">
              <label for="ProTipTitle">Title</label>
              <input type="text" class="form-control" name="title" id="ProTipTitle" placeholder="What is your ProTip's title?">
              <label for="ProTipDescription">What is your ProTip?</label>
              <textarea class="form-control" name="tipDescription" id="ProTipDescription" rows="3" placeholder="Explain how it works and what a park visitor needs to do to make the most of your ProTip."></textarea>
              <button type="submit" class="btn btn-primary" id="SubmitProTip">Submit ProTip</button>
            </form>
          <hr>
        </div>
      </div>
    </div>
    <!-- one protip section -->
    <div id='voteWrapper' class="protipList container-fluid">
      <div class="row">
        <script id='voteTile' type="text/x-handlebars-template">
          {{#each proTipVote}}
            <div class = "proTipTile">
              <div class="col-md-8 col-md-push-1 proTipBg">
                <h1>{{tipTitle}}</h1>
                <h1>{{tipDescription}}</h1>
                <button type="button" class="btn btn-danger" data-id={{_id}}>Delete ProTip</button>
                <button type="button" name="commentButton" class="btn btn-default comment-button" data-protip-id={{_id}}>Add a comment</button>
              </div>
                <div class="col-md-1 col-md-pull-8 btn-group-vote">
                  <div class="vote circle">
                    <div class="increment up upbutton" data-id={{_id}}></div>
                    <div class="increment down downbutton" data-id={{_id}}></div>
                    <div class="count">{{tipScore}}</div>
                </div>
              </div>
            </div>
              <form class="form-create-comment" id="commentForm{{_id}}" data-protip-id={{_id}}>
                <div class="form-group">
                  <label for="comment-text-area">Comment on a ProTip</label>
                  <textarea class="form-control comment-body" rows="4" placeholder="Have anything to add?"></textarea>
                  <button type="submit" name="submitCommentButton" class="btn btn-default submit-comment-button" data-protip-id={{_id}}>submit</button>
                </div>
              </form>
                <h1 class="inline-header">comments</h1>
                <ul>
                    {{#each tipComment}}
                    <li class="comment-list proTipBg">
                      {{commentBody}}
                    </li>
                    {{/each}}
                </ul>
          {{/each}}
        </script>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    nodInit();
  </script>
</html>
